@charset "utf-8";
/* reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,abbr,address,img,ol,ul,li,fieldset,form,label,legend,tbody,tfoot,thead,tr,th,td,dl,dt,dd,article,aside,canvas,figure,figcaption,footer,header,hgroup,menu,nav,section,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{text-decoration:none;color:#555;cursor:pointer}
body{line-height:1.5}
ol,ul{list-style:none}
input,button,label{margin:0;padding:0;border:none;background:none;cursor:pointer}
img{display:block;border:0}
/* common*/
._rel{width:100% !important}
._clearfix:after{content:'';display:block;clear:both}
#fullpage{background-image: url(../imgs/section_bg.png);background-position: 0 755px}
/* #wrap */
#wrap{width: 100%;height: 100%}
/* #_header */
#_header{position: relative;background-color: #21b8d5}
#_header ._nav{width: 100%;max-width: 1200px;height: 120px;margin: 0 auto}
#_header ._nav ._gnb_lst{float: left;position: relative;width: 20%;height: 120px;line-height: 120px;text-align: center}
#_header ._nav ._gnb_lst:before{content: '';position: absolute;top: 45px;right: 0;width: 2px;height: 30px;background-color: #fff}
#_header ._nav ._gnb_lst._lst5:before{opacity: 0}
#_header ._nav ._gnb_lst ._txt{position: relative;padding-bottom: 20px;font-size: 18px;letter-spacing: -1px;color: #fff;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease}
#_header ._nav ._gnb_lst ._link:hover ._txt{color: #195367}
#_header ._nav ._gnb_lst ._link ._txt:before{content: '';position: absolute;bottom: 0;left: 10%;width: 80%;height: 3px;background-color: #195367;opacity: 0;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease}
#_header ._nav ._gnb_lst ._link:hover ._txt:before{content: '';position: absolute;bottom: 0;left: 10%;width: 80%;height: 3px;background-color: #195367;opacity: 1}
#_header ._spot_wrap{position: relative;width: 100%;height: 636px;background-image: url(../imgs/spot_bg.png);-webkit-background-size: cover;background-size: cover}
#_header ._spot_wrap ._main_logo{position: absolute;width: 100%;max-width: 590px;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%)}
/* ._content_wrap */
#_content_wrap {width: 100%;max-width: 1200px;margin: auto}
#_content_wrap  ._sub_logo{width: 60%;max-width: 599px;margin: 0 auto;padding: 20px 0;text-align: center;background-color: #44d0f1;border: 5px solid #195367;border-radius: 10px}
#_content_wrap  ._sub_logo ._tit{font-size: 34px;font-weight: bold;color: #195367;}
#_content_wrap  ._sub_logo ._sub_txt{padding-top: 20px;font-size: 20px;font-weight: bold;color: #fff}
#_content_wrap  ._content_top{margin-top: 80px}
#_content_wrap  ._content_top ._img_box{float: left;width: 50%}
#_content_wrap  ._content_top ._img_box img{margin: 0 auto}
#_content_wrap  ._content_top ._dec_box{float: left;width: 40%;padding-left: 10%}
#_content_wrap  ._content_top ._dec_box ._txt{padding-top: 20px;font-size: 18px;font-weight: bold;color: #185367}
#_content_wrap  ._content_top ._dec_box ._foc_txt{font-size: 42px;font-weight: bold;color: #fff}
#_content_wrap  ._content_top ._dec_box ._date_txt{font-size: 20px;color: #fff}
#_content_wrap  ._content_top ._dec_box ._link{display: block;width: 160px;height: 50px;margin-top: 30px;line-height: 50px;text-align: center;font-size: 16px;font-weight: bold;border-radius: 5px;background-color: #195367;color: #fff;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease}
#_content_wrap  ._content_top ._dec_box ._link:hover{background-color: #fff;color: #195367}
#_content_wrap  ._content_bott{margin-top: 80px}
#_content_wrap  ._content_bott ._item{float: left;width: 33.3%;}
#_content_wrap  ._content_bott ._item img{margin: 0 auto}